@media only screen 
  and (min-device-width: 320px)
  and (max-device-width:1600px){
      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
      .header img {
        max-width: 25% !important; 
        height: auto;
      }
      .content{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
      }
      .contentphoto{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        min-width: 35%;
      }
      .contentphoto img {
        max-width: 20%;
        height: auto;
        margin-bottom: 5%;      
      }
      .workexperience {
        width:100%;       
      }
}

.header {
  background: #73618F;
  font-family: 'Squada One'; 
  color: #E8FDFF;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
  padding: 1%;
  align-items: center;
  max-width: 100%;
}
/*UMD logo*/
.header img { 
  min-width: 2%;
  max-width: 100%;
  height: auto;
  margin: right; 
}
.wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap:wrap;

}
.body {
  background-color: #FFE4AD;
  margin: -18px;
}
.content {
  display: flex;
  max-width: 960px;
  align-items: flex-start;
  flex-direction: row wrap;

}
/*photo and caption container*/
.contentphoto {
  display: flex;
  flex-direction: wrap;
  order: 1;
  flex: 0 1 auto;
  max-width: 20%;
  margin: 5px;
}

/*Yeeun's photo element*/
.contentphoto img { 
  border: 1px solid #FA9F7F;
  border-radius: 4px;
  max-width: 100%;
}
/*Caption element*/
.contentphoto p {
  background-color: #FFF8E6; 
  padding: 10px;
}
/*Roles container*/
.workexperience {
  display: flex;
  background-color: #FFF8E6;
  order: 2;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: flex-start;  /* left */
  margin-left: auto;       /* right */
  max-width: 65%;
  margin: 5px;
  padding: 5px;
}

.workexperience h2 {
  font-family: 'Bowlby One SC';
}
.workexperience h3 {
  font-style: italic;
}
